//
//  Config.xcconfig
//  HiKiddo
//
//  Created by W on 08/01/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0eGZwdWplemJ1cGp3eHhub3BwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzYzNDYzNzksImV4cCI6MjA1MTkyMjM3OX0.8JVNmDXnVOF5ugbBUCy6o4iha68QCXIqBSvAPK5cSuo
